@model IEnumerable<ProjetSessionCoursA15.Models.Annonce>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

      
<div class="container">
    @foreach (var item in Model)
    {

    <div style="background-color:gainsboro; color : black" class="row btn-success">
        <div class="col-sm-3 left ">
            <div class="col-sm-3">
                <a href="/Location/Details/@Html.DisplayFor(modelItem => item.BIENIMMOBILIER.BienID)">
                    <img style="width: 250px; height: 175px" src="@item.Photos" alt="" />
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-10">
                    <p style="font-weight:bold" >@Html.DisplayFor(modelItem => item.Titre)</p>
                </div>
                <div class="col-sm-2 pull-right">
                    <p style="font-weight:bold">@Html.DisplayFor(modelItem => item.BIENIMMOBILIER.Prix_loyer) $</p>
                </div>
                
            </div>
            <div class="row">
                secteur 
                (Montreal)
            </div>
            <div class="row">
                <p>@Html.DisplayFor(modelItem => item.BIENIMMOBILIER.Type_BIENIMMOBILIER) </p>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <p> @Html.DisplayFor(modelItem => item.AutresDescription)</p>
                </div>
                <div class="col-sm-3 pull-right">
                    <img style="width: 40px; height: 40px" src="~/Content/icones/icon_cac_26x26.png" alt="" />
                    @Html.DisplayFor(modelItem => item.NombrePieces)
                    <img style="width: 40px; height: 40px" src="~/Content/icones/icon_sdb_26x26.png" alt="" />
                    @Html.DisplayFor(modelItem => item.NombreSDB)
                </div>
              
            </div>
        </div>
    </div>
                 
     }
</div>



